## Today we are going to test your knowledge in SQL. Please refer to  http://www.w3schools.com/sql/ for any questions you might have over the material. Each question must be solved in only ONE SQL statement. No pandas or numpy operations may be used!
### These questions get progressively more difficult. Look through the website above and stackoverflow for hints on solving the more challenging problems. 
### Unfortunately, Brad will only be able to give help on questions with difficulty 7 and higher. He apologizes for the inconvenience.

#### First create a connection to your postgresql database here

In [2]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgres://mfnyeqfz:zxzi25vFYOiloQ8ORKUo2-Oog5GgfZc2@elmer.db.elephantsql.com:5432/mfnyeqfz')
pd.read_sql("SELECT * FROM information_schema.tables;", engine)[:3]

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,mfnyeqfz,public,pg_stat_statements,VIEW,None,None,None,None,None,NO,NO,None
1,mfnyeqfz,public,trump_tweets,BASE TABLE,None,None,None,None,None,YES,NO,None
2,mfnyeqfz,public,website_imdb,BASE TABLE,None,None,None,None,None,YES,NO,None

#### Let's use the "website_imdb" table for our queries

## Difficulty => 1

### Print out all the drama movies

pd.read_sql("SELECT * FROM website_imdb WHERE genre LIKE '%%Drama%%' ;", engine)

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

In [69]:
df_imdb_all = pd.read_sql("SELECT * FROM website_imdb WHERE director LIKE '%% C%%' OR director LIKE '%% S%%' AND director NOT LIKE '%%,%%' ;", engine)

df_imdb_all.head()

,id,title,poster,plot,genre,year,imdbRating,created,imdbID,awards,...,director,gross,imdbVotes,language,rated,released,response,runtime,type,writer
0,2740,Good Will Hunting,http://ia.media-imdb.com/images/M/MV5BMTk0NjY0...,"Will Hunting, a janitor at M.I.T., has a gift ...",Drama,1997,8.3,2016-11-13 22:22:15.411467+00:00,tt0119217,Won 2 Oscars. Another 20 wins & 53 nominations.,...,Gus Van Sant,138339411.0,609983,English,R,1998-01-09,True,126,movie,"Matt Damon, Ben Affleck"
1,2721,Whiplash,https://images-na.ssl-images-amazon.com/images...,A promising young drummer enrolls at a cut-thr...,"Drama, Music",2014,8.5,2016-11-13 22:22:15.406729+00:00,tt2582802,Won 3 Oscars. Another 87 wins & 131 nominations.,...,Damien Chazelle,13092000.0,413720,English,R,2014-10-15,True,107,movie,Damien Chazelle
2,2723,Raiders of the Lost Ark,https://images-na.ssl-images-amazon.com/images...,Archaeologist and adventurer Indiana Jones is ...,"Action, Adventure",1981,8.5,2016-11-13 22:22:15.407288+00:00,tt0082971,Won 4 Oscars. Another 30 wins & 23 nominations.,...,Steven Spielberg,242374454.0,671034,"English, German, Hebrew, Spanish, Arabic, Nepali",PG,1981-06-12,True,115,movie,"Lawrence Kasdan (screenplay), George Lucas (st..."
3,2728,The Wages of Fear,https://images-na.ssl-images-amazon.com/images...,"In a decrepit South American village, men are ...","Adventure, Drama, Thriller",1953,8.2,2016-11-13 22:22:15.408588+00:00,tt0046268,Won 1 BAFTA Film Award. Another 5 wins.,...,Henri-Georges Clouzot,NaN,35833,"French, English, Spanish, German, Italian, Rus...",NOT RATED,1955-02-16,True,131,movie,"Georges Arnaud (novel), Henri-Georges Clouzot ..."
4,2735,The Great Escape,https://images-na.ssl-images-amazon.com/images...,Allied P.O.W.s plan for several hundred of the...,"Adventure, Drama, History",1963,8.3,2016-11-13 22:22:15.410302+00:00,tt0057115,Nominated for 1 Oscar. Another 2 wins & 7 nomi...,...,John Sturges,NaN,167926,"English, German, French, Russian, Spanish",APPROVED,1963-07-04,True,172,movie,"Paul Brickhill (book), James Clavell (screenpl..."

## Difficulty => 3

### Print out the gross of each director's highest grossing movie. Filter nan.

In [5]:
pd.read_sql("SELECT director, title, gross FROM website_imdb db1 WHERE gross <> 'NaN' AND db1.gross IN (select max(db2.gross) from website_imdb db2 where db2.director = db1.director)", engine)

,director,title,gross
0,Mathieu Kassovitz,La Haine,309811.0
1,Gus Van Sant,Good Will Hunting,138339411.0
2,Damien Chazelle,Whiplash,13092000.0
3,David Lean,The Bridge on the River Kwai,27200000.0
4,"Aamir Khan, Amole Gupte",Like Stars on Earth,1204660.0
5,Alejandro G. Iñárritu,The Revenant,183635922.0
6,"Wai-Keung Lau, Alan Mak",Infernal Affairs,89594.0
7,"Andrew Stanton, Lee Unkrich",Finding Nemo,380838870.0
8,Joseph L. Mankiewicz,All About Eve,10177.0
9,"Pete Docter, David Silverman, Lee Unkrich","Monsters, Inc.",289907418.0
10,Terry Gilliam,Twelve Monkeys,56882000.0
11,Oliver Hirschbiegel,Downfall,5501940.0
12,Tomm Moore,Song of the Sea,850043.0
13,Tom McCarthy,Spotlight,44988180.0
14,Curtis Hanson,L.A. Confidential,64604977.0
15,Rajkumar Hirani,3 Idiots,6523137.0
16,Ron Howard,A Beautiful Mind,170708996.0
17,Richard Linklater,Before Sunrise,5400000.0
18,Morten Tyldum,The Imitation Game,91121452.0
19,James Gunn,Guardians of the Galaxy,333130696.0
20,Majid Majidi,Children of Heaven,925402.0
21,Christopher Nolan,The Dark Knight,533316061.0
22,Steve McQueen,12 Years a Slave,56667870.0
23,Gore Verbinski,Pirates of the Caribbean: The Curse of the Bla...,305388685.0
24,Chan-wook Park,Oldboy,2181290.0
25,Peter Weir,The Truman Show,125603360.0
26,"Roger Allers, Rob Minkoff",The Lion King,422783777.0
27,Terry Jones,Life of Brian,646124.0
28,"Terry Gilliam, Terry Jones",Monty Python and the Holy Grail,1229197.0
29,Giuseppe Tornatore,Cinema Paradiso,11990401.0
...,...,...,...
83,John Carpenter,The Thing,13782838.0
84,Michael Mann,Heat,67436000.0
85,Joon-ho Bong,Memories of Murder,14131.0
86,Sean Penn,Into the Wild,18352454.0
87,"Olivier Nakache, Eric Toledano",The Intouchables,13179837.0
88,Wolfgang Petersen,Das Boot,11433134.0
89,James McTeigue,V for Vendetta,70496802.0
90,Danny Boyle,Trainspotting,16501785.0
91,Andrew Stanton,WALL·E,223806889.0
92,Michel Gondry,Eternal Sunshine of the Spotless Mind,34126138.0
93,Wes Anderson,The Grand Budapest Hotel,59073773.0
94,Tate Taylor,The Help,169705587.0
95,Guillermo del Toro,Pan's Labyrinth,37623143.0
96,Rob Reiner,Stand by Me,52287414.0
97,Vittorio De Sica,Bicycle Thieves,332930.0
98,"Joel Coen, Ethan Coen",Fargo,25882374.0
99,Robert Zemeckis,Forrest Gump,329691196.0
100,Roberto Benigni,Life Is Beautiful,57598247.0
101,Sam Mendes,American Beauty,130058047.0
102,Denis Villeneuve,Prisoners,60962878.0
103,Woody Allen,Annie Hall,39200000.0
104,George Lucas,Star Wars: Episode IV - A New Hope,460935665.0
105,James Cameron,Terminator 2: Judgment Day,204843350.0
106,Terry George,Hotel Rwanda,23472900.0
107,"Victor Fleming, George Cukor, Sam Wood",Gone with the Wind,198655278.0
108,"Ethan Coen, Joel Coen",No Country for Old Men,74273505.0
109,Elia Kazan,On the Waterfront,9600000.0
110,Brian De Palma,Scarface,44700000.0
111,Milos Forman,One Flew Over the Cuckoo's Nest,112000000.0
112,Guy Ritchie,Snatch,30093107.0

### Print out the gross of each director's highest grossing movie. Order by gross desc. Filter nan.

In [6]:
pd.read_sql("SELECT director, title, gross FROM website_imdb db1 WHERE gross <> 'NaN' AND db1.gross IN (select max(db2.gross) from website_imdb db2 where db2.director = db1.director) ORDER BY gross DESC", engine)

,director,title,gross
0,J.J. Abrams,Star Wars: The Force Awakens,936627416.0
1,Christopher Nolan,The Dark Knight,533316061.0
2,George Lucas,Star Wars: Episode IV - A New Hope,460935665.0
3,"Roger Allers, Rob Minkoff",The Lion King,422783777.0
4,Lee Unkrich,Toy Story 3,414984497.0
5,David Yates,Harry Potter and the Deathly Hallows: Part 2,380955619.0
6,"Andrew Stanton, Lee Unkrich",Finding Nemo,380838870.0
7,Peter Jackson,The Lord of the Rings: The Return of the King,377019252.0
8,Tim Miller,Deadpool,363024263.0
9,Steven Spielberg,Jurassic Park,356784000.0
10,"Pete Docter, Ronnie Del Carmen",Inside Out,356454367.0
11,"Byron Howard, Rich Moore, Jared Bush",Zootopia,341264012.0
12,James Gunn,Guardians of the Galaxy,333130696.0
13,Robert Zemeckis,Forrest Gump,329691196.0
14,Richard Marquand,Star Wars: Episode VI - Return of the Jedi,309125409.0
15,Gore Verbinski,Pirates of the Caribbean: The Curse of the Bla...,305388685.0
16,M. Night Shyamalan,The Sixth Sense,293501675.0
17,"Pete Docter, Bob Peterson",Up,292979556.0
18,Irvin Kershner,Star Wars: Episode V - The Empire Strikes Back,290158751.0
19,"Pete Docter, David Silverman, Lee Unkrich","Monsters, Inc.",289907418.0
20,Ridley Scott,The Martian,228430993.0
21,Paul Greengrass,The Bourne Ultimatum,227137090.0
22,Andrew Stanton,WALL·E,223806889.0
23,"Dean DeBlois, Chris Sanders",How to Train Your Dragon,217387997.0
24,James Cameron,Terminator 2: Judgment Day,204843350.0
25,"Victor Fleming, George Cukor, Sam Wood",Gone with the Wind,198655278.0
26,John Lasseter,Toy Story,191796233.0
27,Alejandro G. Iñárritu,The Revenant,183635922.0
28,"Lana Wachowski, Lilly Wachowski",The Matrix,171383253.0
29,Ron Howard,A Beautiful Mind,170708996.0
...,...,...,...
83,Damien Chazelle,Whiplash,13092000.0
84,Giuseppe Tornatore,Cinema Paradiso,11990401.0
85,Wolfgang Petersen,Das Boot,11433134.0
86,Florian Henckel von Donnersmarck,The Lives of Others,11284657.0
87,Elia Kazan,On the Waterfront,9600000.0
88,"Fernando Meirelles, Kátia Lund",City of God,7563397.0
89,Asghar Farhadi,A Separation,7098492.0
90,Tony Kaye,American History X,6712241.0
91,Rajkumar Hirani,3 Idiots,6523137.0
92,Oliver Hirschbiegel,Downfall,5501940.0
93,Richard Linklater,Before Sunrise,5400000.0
94,Darren Aronofsky,Requiem for a Dream,3609278.0
95,Damián Szifrón,Wild Tales,3079012.0
96,Chan-wook Park,Oldboy,2181290.0
97,"Terry Gilliam, Terry Jones",Monty Python and the Holy Grail,1229197.0
98,"Aamir Khan, Amole Gupte",Like Stars on Earth,1204660.0
99,Majid Majidi,Children of Heaven,925402.0
100,Tomm Moore,Song of the Sea,850043.0
101,Federico Fellini,Nights of Cabiria,752045.0
102,Richard Kelly,Donnie Darko,727883.0
103,Terry Jones,Life of Brian,646124.0
104,Thomas Vinterberg,The Hunt,610968.0
105,Carol Reed,The Third Man,449191.0
106,Vittorio De Sica,Bicycle Thieves,332930.0
107,Mathieu Kassovitz,La Haine,309811.0
108,"Wai-Keung Lau, Alan Mak",Infernal Affairs,89594.0
109,Gillo Pontecorvo,The Battle of Algiers,43204.0
110,Fritz Lang,M,28877.0
111,Joon-ho Bong,Memories of Murder,14131.0
112,Joseph L. Mankiewicz,All About Eve,10177.0

## Difficulty => 5

### Print out the movie title, gross, and director of each director's highest grossing movie. Order by gross desc. Filter nan.

In [8]:
# Max Gross Per Director
db1 = pd.read_sql("SELECT director FROM website_imdb GROUP BY director HAVING count(director) > 1", engine)
# Directors with > 1 Movies
db2 = pd.read_sql("SELECT director FROM website_imdb GROUP BY director HAVING count(director) > 1", engine)
# All in one
pd.read_sql("SELECT db1.director, db1.title, db1.gross FROM website_imdb db1, (select director,max(gross) as max_gross from website_imdb group by director) as db2, (select director from website_imdb group by director having count(director) > 1) as db3 WHERE db1.gross <> 'NaN' AND db1.director = db3.director and db1.gross = db2.max_gross GROUP BY db1.director,db1.title,db1.gross ORDER BY gross DESC", engine)

,director,title,gross
0,Christopher Nolan,The Dark Knight,533316061.0
1,Peter Jackson,The Lord of the Rings: The Return of the King,377019252.0
2,Steven Spielberg,Jurassic Park,356784000.0
3,Robert Zemeckis,Forrest Gump,329691196.0
4,Ridley Scott,The Martian,228430993.0
5,James Cameron,Terminator 2: Judgment Day,204843350.0
6,Alejandro G. Iñárritu,The Revenant,183635922.0
7,Ron Howard,A Beautiful Mind,170708996.0
8,David Fincher,Gone Girl,167735396.0
9,Quentin Tarantino,Django Unchained,162804648.0
10,George Roy Hill,The Sting,159600000.0
11,Clint Eastwood,Gran Torino,148085755.0
12,Frank Darabont,The Green Mile,136801374.0
13,Francis Ford Coppola,The Godfather,134821952.0
14,Milos Forman,One Flew Over the Cuckoo's Nest,112000000.0
15,Denis Villeneuve,Prisoners,60962878.0
16,Rob Reiner,Stand by Me,52287414.0
17,Guy Ritchie,Snatch,30093107.0
18,David Lean,The Bridge on the River Kwai,27200000.0
19,"Joel Coen, Ethan Coen",Fargo,25882374.0
20,Federico Fellini,Nights of Cabiria,752045.0
21,Fritz Lang,M,28877.0

In [304]:
# Same answer using IN statement
pd.read_sql("SELECT director, title, gross FROM website_imdb db1 WHERE gross <> 'NaN' AND db1.gross IN (select max(db2.gross) from website_imdb db2 where db2.director = db1.director) ORDER BY gross DESC LIMIT 3", engine)

            director                               title        gross
0        J.J. Abrams        Star Wars: The Force Awakens  936627416.0
1  Christopher Nolan                     The Dark Knight  533316061.0
2       George Lucas  Star Wars: Episode IV - A New Hope  460935665.0

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc. Filter nan.

In [329]:
pd.read_sql('SELECT db1.director, db1.title, db1."imdbRating" FROM website_imdb db1, (select director,max("imdbRating") as max_imdbrating from website_imdb group by director) as db2, (select director from website_imdb group by director having count(director) > 1) as db3 WHERE db1."imdbRating" <> \'NaN\' AND db1.director = db3.director and db1."imdbRating" = db2.max_imdbrating GROUP BY db1.director,db1.title,db1."imdbRating" ORDER BY db1."imdbRating" DESC', engine)

,director,title,imdbRating
0,Frank Darabont,The Shawshank Redemption,9.3
1,Francis Ford Coppola,The Godfather,9.2
2,Christopher Nolan,The Dark Knight,9.0
3,Francis Ford Coppola,The Godfather: Part II,9.0
4,Peter Jackson,The Lord of the Rings: The Return of the King,8.9
5,Quentin Tarantino,Pulp Fiction,8.9
6,Sergio Leone,"The Good, the Bad and the Ugly",8.9
7,Sidney Lumet,12 Angry Men,8.9
8,Steven Spielberg,Schindler's List,8.9
9,Christopher Nolan,Inception,8.8
10,David Fincher,Fight Club,8.8
11,Peter Jackson,The Lord of the Rings: The Fellowship of the Ring,8.8
12,Robert Zemeckis,Forrest Gump,8.8
13,Akira Kurosawa,Seven Samurai,8.7
14,Martin Scorsese,Goodfellas,8.7
15,Milos Forman,One Flew Over the Cuckoo's Nest,8.7
16,Peter Jackson,The Lord of the Rings: The Two Towers,8.7
17,Charles Chaplin,City Lights,8.6
18,Charles Chaplin,Modern Times,8.6
19,Christopher Nolan,Interstellar,8.6
20,David Fincher,Se7en,8.6
21,Frank Capra,It's a Wonderful Life,8.6
22,Hayao Miyazaki,Spirited Away,8.6
23,Sergio Leone,Once Upon a Time in the West,8.6
24,Steven Spielberg,Saving Private Ryan,8.6
25,Alfred Hitchcock,Psycho,8.5
26,Alfred Hitchcock,Rear Window,8.5
27,Billy Wilder,Sunset Boulevard,8.5
28,Charles Chaplin,The Great Dictator,8.5
29,Christopher Nolan,Memento,8.5
...,...,...,...
101,Clint Eastwood,Million Dollar Baby,8.1
102,David Fincher,Gone Girl,8.1
103,Denis Villeneuve,Prisoners,8.1
104,Federico Fellini,8½,8.1
105,George Roy Hill,Butch Cassidy and the Sundance Kid,8.1
106,Hayao Miyazaki,Castle in the Sky,8.1
107,Hayao Miyazaki,Nausicaä of the Valley of the Wind,8.1
108,Henri-Georges Clouzot,Diabolique,8.1
109,Ingmar Bergman,Fanny and Alexander,8.1
110,Ingmar Bergman,Persona,8.1
111,James Cameron,The Terminator,8.1
112,"Joel Coen, Ethan Coen",Fargo,8.1
113,John Huston,The Maltese Falcon,8.1
114,Martin Scorsese,Shutter Island,8.1
115,Orson Welles,Touch of Evil,8.1
116,Quentin Tarantino,Kill Bill: Vol. 1,8.1
117,Rob Reiner,Stand by Me,8.1
118,Rob Reiner,The Princess Bride,8.1
119,Ron Howard,Rush,8.1
120,Sidney Lumet,Network,8.1
121,Stanley Kubrick,Barry Lyndon,8.1
122,Steven Spielberg,Jurassic Park,8.1
123,William Wyler,Ben-Hur,8.1
124,William Wyler,Roman Holiday,8.1
125,William Wyler,The Best Years of Our Lives,8.1
126,Ridley Scott,The Martian,8.0
127,Sergio Leone,A Fistful of Dollars,8.0
128,Sidney Lumet,Dog Day Afternoon,8.0
129,Steven Spielberg,Catch Me If You Can,8.0
130,Steven Spielberg,Jaws,8.0

## Difficuty => 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

In [3]:
pd.read_sql('SELECT released, title, '
                '( CASE '
                '  WHEN substring(released,6,2) in (\'12\', \'01\',\'02\') THEN \'winter\' '
                '  WHEN substring(released,6,2) in (\'03\', \'04\',\'05\') THEN \'spring\' '    
                '  WHEN substring(released,6,2) in (\'06\', \'07\',\'08\') THEN \'summer\' '
                '  WHEN substring(released,6,2) in (\'09\', \'10\',\'11\') THEN \'fall\' ' 
                '  ELSE NULL'
                '  END) AS season ' 
            'FROM website_imdb LIMIT 5 '
    '', engine)

     released                    title  season
0  1996-02-23                 La Haine  winter
1  1998-01-09        Good Will Hunting  winter
2  2014-10-15                 Whiplash    fall
3  1956-11-19            Seven Samurai    fall
4  1981-06-12  Raiders of the Lost Ark  summer

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'

In [4]:
pd.read_sql('SELECT released, title, '
             '( CASE '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) > EXTRACT(MONTH FROM current_date) THEN \'after\' '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) < EXTRACT(MONTH FROM current_date) THEN \'before\' '
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
      ' AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) <> EXTRACT(DAY FROM current_date)) THEN \'close\' ' 
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
      ' AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(DAY FROM current_date)) THEN \'match\' ' 
            '  ELSE NULL'
                '  END) AS relationship ' 
            'FROM website_imdb where released <> \'nan\' '
    '', engine)

       released                               title relationship
0    1996-02-23                            La Haine       before
1    1998-01-09                   Good Will Hunting       before
2    2014-10-15                            Whiplash       before
3    1956-11-19                       Seven Samurai       before
4    1981-06-12             Raiders of the Lost Ark       before
5    1957-12-14        The Bridge on the River Kwai        close
6    2007-12-21                 Like Stars on Earth        close
7    2016-01-08                        The Revenant       before
8    2002-12-12                    Infernal Affairs        close
9    1955-02-16                   The Wages of Fear       before
10   1961-09-13                             Yojimbo       before
11   2003-05-30                        Finding Nemo       before
12   1951-01-15                       All About Eve       before
13   2001-11-02                      Monsters, Inc.       before
14   2013-09-27                                Rush       before
15   2005-01-28                 Million Dollar Baby       before
16   1963-07-04                    The Great Escape       before
17   2003-03-28                         The Pianist       before
18   1974-06-20                           Chinatown       before
19   1996-01-05                      Twelve Monkeys       before
20   2005-04-08                            Downfall       before
21   2014-12-10                     Song of the Sea        close
22   1977-07-08                         The Message       before
23   2015-11-20                           Spotlight       before
24   2005-06-17                Howl's Moving Castle       before
25   1931-03-07                         City Lights       before
26   1997-09-19                   L.A. Confidential       before
27   2009-12-25                            3 Idiots        close
28   1959-09-26                  North by Northwest       before
29   2002-01-04                    A Beautiful Mind       before
..          ...                                 ...          ...
219  1980-04-17                             Stalker       before
220  1987-07-10                   Full Metal Jacket       before
221  1960-09-16                       The Apartment       before
222  1994-07-06                        Forrest Gump       before
223  1999-02-12                   Life Is Beautiful       before
224  1975-06-20                                Jaws       before
225  1999-10-01                     American Beauty       before
226  2013-09-20                           Prisoners       before
227  1958-02-06         Witness for the Prosecution       before
228  1977-04-20                          Annie Hall       before
229  1940-04-12                             Rebecca       before
230  2010-07-16                           Inception       before
231  1967-05-10              For a Few Dollars More       before
232  1975-09-21                   Dog Day Afternoon       before
233  1977-05-25  Star Wars: Episode IV - A New Hope       before
234  1991-07-03          Terminator 2: Judgment Day       before
235  1963-06-25                                  8½       before
236  2005-02-04                        Hotel Rwanda       before
237  1940-01-17                  Gone with the Wind       before
238  2007-11-21              No Country for Old Men       before
239  1954-06-22                   On the Waterfront       before
240  2010-03-12                 Hachi: A Dog's Tale       before
241  1998-07-24                 Saving Private Ryan       before
242  1983-12-09                            Scarface        close
243  1975-11-21     One Flew Over the Cuckoo's Nest       before
244  2001-05-25                             Memento       before
245  2001-01-19                              Snatch       before
246  1985-06-01                                 Ran       before
247  1976-02-08                         Taxi Driver       before
248  1996-11-29                          The Bandit       before

[249 rows x 3 columns]

## Difficulty => 9

### There is another table in my database called 'trump_tweets'. Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a length greater than 1.

In [5]:
df_trump = pd.read_sql("SELECT * FROM trump_tweets;", engine)

In [7]:
pd.read_sql('select t.text, w.title from trump_tweets t '
            ' join website_imdb w on lower(t.text) like \'%%\'||lower(w.title)||\'%%\' ' 
            'where length(w.title) > 1 ', engine )

                                                 text        title
0   Another new poll. Thank you for your support! ...           Up
1   Great poll- Florida! Thank you! https://t.co/4...           Up
2   "@AshleyEdam: New CBS Poll shows defections fr...           Up
3   WOW, great new poll- New York! Thank you for y...           Up
4   Don't believe the @FoxNews Polls, they are jus...  The General
5   "@cmichaeld2004: Realistic Trump Poll Numbers ...          Ran
6   Why would anyone in Kentucky listen to failed ...          Ran
7   .@CNN poll just hit 49% for Trump. Interesting...           Up
8   The polls show that I picked up many Jeb Bush ...           Up
9   The just out USA Today National Poll, where I ...           Up
10  New PPP Poll just out - Trump up big, Cruz, Ru...           Up
11  Wow, in the new CBS Poll I went way up into th...           Up
12  The polls are now showing that I am the best t...  The General
13  Good morning America! Thank you for all of you...           Up
14  "@MiamiNewTimes: Poll: Trump has more support ...           Up
15  In the just released SC poll I increased my le...           Up
16  Wow, new polls just out have Trump up and Cruz...           Up
17  I am in New Hampshire. Just received great new...           Up
18  Why are @JebBush flunkies  @ananavarro and @se...           Up
19  Wow, even lowly Rand Paul has just past @JebBu...          Ran
20  Big news just out - NEW @CNN POLL  TRUMP  39 a...           Up
21  "@realNevaDie: This suggests that online polls...         Rush
22  Another new post-debate poll. \nTHANK YOU! #Vo...           Up
23  New PPP poll just released in Iowa- up 6 point...           Up
24  RT @ABCPolitics: JUST IN: Donald Trump hits 41...           Up
25  A very good NBC/Wall Street Journal Poll was j...           Up
26  "@FoxNews: @FrankLuntz: Time for the Republica...          Ran
27  The last person corrupt Hillary Clinton wants ...           Up
28  A new poll indicates that 68% of my supporters...           Up
29  A new poll indicates that 68% of my supporters...          Ran
..                                                ...          ...
51  "@TopherCarlton: .@JebBush Sickening attempt. ...           Up
52  I'm leading big in every poll and we are going...           Up
53  "@WayneDupreeShow: HEADLINES: Donald Trump mai...           Up
54  "@MNManstein2: Polling Convergence - OAN/GRAVI...           Up
55  I hope when Rand Paul gets out of the race—he ...           Up
56  I hope when Rand Paul gets out of the race—he ...          Ran
57  Prediction: Rand Paul has been driven out of t...          Ran
58  "@SkyeShepard: Trump went way up in my 'poll' ...           Up
59  An updated POLL tracker (with all polls thru t...           Up
60  New Bloomberg Poll: Trump Leads Big http://t.c...           Up
61  "@alivelutheran: @TODAYshow touts CNN polls in...          Ran
62  "@JudgeMoroz  Zogby is respected in the busine...  The Message
63  Has the media picked up the new Zogby poll tha...           Up
64  "@alivelutheran: @TODAYshow touts CNN polls in...          Ran
65  Too many people on stage for debate. @RandPaul...          Ran
66  "@GinHay: Trump's polls are going to skyrocket...          Ran
67  "@PressTV: Poll: Trump beats Clinton head-to-h...           Up
68  Leading in the Bloomberg Iowa poll. Also, my f...           Up
69  "@teapartynews: Trump Wins Tea Party Group's '...           Up
70  .@GovernorPataki did a terrible job as Governo...          Ran
71  RT @_Mastersof: @DanScavino @realDonaldTrump @...           Up
72  RT @CNBCnow: Donald Trump maintains support of...           Up
73  RT @DesignerDeb3: @realDonaldTrump BREAKS RECO...           Up
74  .@FrankLuntz I won every poll of the debate to...          Ran
75  "@HowardJax50:  @FrankLuntz NBC says Trump lea...          Ran
76  "@FrankLuntz: Trump is leading with almost eve...           Up
77  "@FrankLuntz: Trump is leading with almost eve...          Ran
78  RT @BrianCraigShow: #DonaldTrump takes massive...           Up
79  RT @ThePatriot143: POLL: TRUMP CRUSHES BUSH AN...         Rush
80  "@CoachZachCooper:  Congratulations on leading...           Up

[81 rows x 2 columns]

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

### Make sure each movie is printed out at most one time!

In [8]:
pd.read_sql("select title from website_imdb where runtime = (select max(runtime) from website_imdb)"
            ' or director in (select director from website_imdb group by director order by sum("imdbVotes") desc limit 1) '
            " or (length(language) - length(replace(language,\',\',\'\'))) > 3 or awards like '%%Oscars%%';", engine)[:5]

                          title
0             Good Will Hunting
1                      Whiplash
2                 Seven Samurai
3       Raiders of the Lost Ark
4  The Bridge on the River Kwai

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

#### If you haven't finished the assignment, scroll back up. This message isn't for you.